{% extends 'base.html' %}
{% load static %}
{% block container %}
<link rel="stylesheet" href="{% static 'css/newassignment.css' %}">
<div style="width: 80%; margin: auto;">

    <table class="table" style="margin: 100px auto; ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>12225366</td>
            <td>محمد whgp عيسى</td>
            <td>12/10/2024</td>
        </tr>
        <tr>
            <td>2</td>
            <td>12225336</td>
            <td>ابراهيم حسين طلال</td>
            <td>16/5/2023</td>
        </tr>
        <tr>
            <td>3</td>
            <td>12365258</td>
            <td>موسى ابوبكر الهادي</td>
            <td>5/9/2024</td>
        </tr>
        <tr>
            <td>4</td>
            <td>12229696</td>
            <td>نافع محمد الطيب</td>
            <td>10/10/2024</td>
        </tr>
        <tr>
            <td>5</td>
            <td>13241256</td>
            <td>طلال مرزوق الرويلي</td>
            <td>3/5/2024</td>
        </tr>
        <tr>
            <td>6</td>
            <td>17488963</td>
            <td>سويلم محمد سويلم</td>
            <td>11/11/2024</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}